<%-include("partials/header")-%>
<img src="https://5.imimg.com/data5/SELLER/Default/2022/10/QB/IQ/II/50785022/5eb57623-a0d3-413b-a803-4a388d8ad9e9-1d7b799f56737e4b66111762a8b3b6ec-500x500.jpeg"  id = "image" class="img-fluid"  alt="Responsive image">
<h1>hello</h1>
<p><%= homeStartingContent%></p>


<%posts.forEach(function(post){%>
<h1><%=post.title%></h1>

<p><%=post.content.substring(0,100) + "..."%>
    <a href="/posts/:<%=post.title%>">read more</a>
</p>


<%});%>






<%-include("partials/footer")-%>
